body {
    font-family: 'Lato';
    background-image: url("tonton.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
}

.p {
    font-size: 18px;
}

.video {
    width: 100%;
    height: 100%;
}

img {
    height: 23.23px;
    filter: invert(1);
    padding-right: 20px;
}

.Tonton {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    height: 96px;
    background-color: rgba(24, 26, 28, 0.6);
    align-items: center;
}